//fonts

$font_body: 'Martel Sans', sans-serif;
$font-heading: 'Roboto', sans-serif;;
$font-serif: sans-serif;
$assetspath: "../../assets/images";

//colors
$white: #ffffff;
$white-dark: #eeeeee;
$color-red:#c9151b;
$color-blue: #02449B;
$color-heading: #02010A;

// Border Colors
$border-color: #ced4da;
$border-secondary: #e5e8eb;

$black: #000000;
$grey01:#111111;
$dark-font: #2f3033;
$grey-dark: #2d2a25;
$font-color:#333333;
$grey: #777777;
$grey-light: #a1a1a1;
$border:#dddada;
$round-border: #dddddd;
$grey-lighter: #f9f9f9;
$theme-deafult: #c9151b;
$grey-darken: #393230;
$grey-link: #948e8c;
$grey-font: #938d8c;
$dark-footer: #2e2726;
$form-bg: #f5f2f2;
$grey-shade: #7f786d;
$darker-footer: #25221e;
$border-color: #e9eced;
$border-grey: #f1f5f4;
$font-grey: #aaaaaa;
$star-yellow: #ffa200;
$border-bottom-g:#525252;
$top-header: #f8f8f8;
$header-font: #999999;
$shadow: #ededed;
$box-border: #ecececa8;
$grey-about: #f7f7f7;
$grey2:#555555;
$grey3: #efefef;
$grey4: #444444;
$grey5: #888888;
$grey6:#6f6f6f;
$grey7:#40494f;
$grey8:#c0c0c0;
$sidebar-border: #f5f2f2;
$sidebar-color:#938d8c;
$modal: #ffba00;
$bg-color: #d0edff;
$bg-color1: #f1e7e6;
$bg-color2: #bfbfbf;
$light-grey: #d0edff;
$icon: #6f6f6f;